.section {
  padding: 15px;
  width: 45%;
  border-radius: 10px;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.1);
}

/* reduce the margin for smaller devices */
@media (max-width: 768px) {
  .section {
    width: 85%;
    margin-bottom: 12px;
  }
}
