.button {
  /* the color is used for multiple buttons at studocu.com */
  background-color: #3092fa;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 10px 12px;
  font-size: 20px;
  font-weight: 500;
  max-width: 300px;
  align-self: center;
  margin-top: 10px;
}

.red {
  background-color: rgb(179, 57, 57);
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media (max-width: 900px) {
  .button {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .button {
    font-size: 13px;
  }
}
