.button {
  color: #181717;
  border: 2px lightseagreen dashed;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 20px;
  font-weight: 500;
  max-width: 300px;
  align-self: center;
  background-color: transparent;
}

.red {
  border: 2px rgb(178, 44, 32) dashed;
}

.xs {
  font-size: 10px;
  padding: 5px 6px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.button:disabled {
  border: 2px rgb(62, 57, 57) dashed;
}

@media (max-width: 900px) {
  .button {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .button {
    font-size: 13px;
  }
  .xs {
    font-size: 8px;
    padding: 4px 5px;
  }
}
