.heading {
  margin-top: 10px;
  text-align: center;
}

.heading1 {
  font-size: 30px;
}

.heading2 {
  font-size: 24px;
}

.heading3 {
  font-size: 20px;
}

.heading4 {
  font-size: 18px;
}

.heading5 {
  font-size: 16px;
}

.heading6 {
  font-size: 14px;
}
