.main {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
}

/* Change the layout direction for tablets and smaller devices */
@media (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
}
