.container {
  margin-bottom: 10px;
  border-bottom: 1px lightgrey dashed;
}

.question {
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
}

.question:hover {
  cursor: pointer;
  opacity: 0.7;
}

.answer {
  font-size: 16px;
  line-height: 2;
}
