.container {
  margin-bottom: 10px;
  border-bottom: 1px lightgrey dashed;
}

.questionAndButtons {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  align-items: flex-start;
}

.question {
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
}

.question:hover {
  cursor: pointer;
  opacity: 0.7;
}

.answer {
  font-size: 16px;
  line-height: 2;
}

@media (max-width: 500px) {
  .question {
    line-height: 1.5;
  }
  .answer {
    line-height: 1.5;
  }
}
